.footer-home {
    color: map-get($colors, black-footer);
    background-color: map-get($colors, bg-footer);
  }


  a {
  color: map-get($colors, txt-black);
  text-decoration: none;
}
  
  .footer-middle .inner {
    padding: 70px 0 40px;
  }
  
  .info-img {
    margin-bottom: 40px;
    margin-top: 10px;
  }
  
  .footer-socials a:hover {
    color: map-get($colors, yellow);
  }
  
  .footer-socials a {
    display: inline-block;
    color: map-get($colors, white);
    margin-right: 25px;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
  }
  
  .footer-socials a:active,
  button:active,
  .btn:active {
    outline: none;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
  }
  
  .fa-facebook-f,
  .fa-facebook {
    &::before {
      content: "\f09a";
    }
  }
  
  .fa-instagram::before {
    content: "\f16d";
  }
  
  .fa-twitter::before {
    content: "\f099";
  }
  
  .footer-title {
    color: map-get($colors, white);
    font-size: map-get($h-font-size, h4);
    margin: 0 0 10px;
    padding: 10px 0px;
    font-weight: map-get($font-weight, bold);
    font-family: red Hat Display;
  }
  
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 11.5px;
    margin-bottom: 11.5px;
  }
  
  .list-unstyles {
    padding-left: 0px;
    list-style: none;
  }
  
  .footer-links {
    margin: 0px;
    padding: 0px;
    line-height: 18px;
  }
  li {
    display: block;
    padding: 5px 0;
  }
  a {
    color: map-get($colors, links);
    font-size: $font-size-base;
    display: block;
    font-weight: map-get($font-weight, normal);
    transition: all 0.25s ease-in-out 0s;
  }
  
  p {
    color: map-get($colors, links);
    font-size: $font-size-base;
    display: block;
    font-weight: map-get($font-weight, normal);
    transition: all 0.25s ease-in-out 0s;
  }
  
  .icon-earphones-alt:before {
    content: "\e03c";
  }
  .footer-center {
    padding: 70px 0px 40px;
  }
  
  .footer-about 
      .icons {
          font-size: 16px;
          margin-right: 15px;
          display: block;
          margin-top: 5px;
          padding: 10px;
          color: map-get($colors, white );
      }
  
  .footer-copyright {
      border-top: 1px solid rgba(255,255,255,0.1);
  }
  
  .copyright-inner {
      padding: 20px;
  }
  .clearfix::before,::after {
      content: " ";
      display: table; 
  }
  .clearfix::after {
      clear: both;
  }
  
  .copyright-content {
      margin-top: 5px;
  } 
      a {
          color: map-get($colors, white );
      }
  
  .pull-left {
      float: left !important;
  }
      
  .pull-right {
      float: right !important;
  }
      