.header-top {
    color: map-get($colors, header );
    background-color: map-get($colors, top-bar );
    padding: 10px 0;
    font-size: $font-size-base;
}
    .row {
        align-content: space-between;
    }

    .col-*-* {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

.header-middle {
    background-color: map-get($colors, white ) ;
    z-index: 11;
    padding: 20px 0;
}

.header-menu {
    position: relative;
}

