html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-Black.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-Italic.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'RedHat Display';
  src: url("/Practice2/font/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: 400; }

.mx-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important; }

.my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.m-0 {
  margin: 0rem !important; }

.mt-0 {
  margin-top: 0rem !important; }

.ml-0 {
  margin-left: 0rem !important; }

.mr-0 {
  margin-right: 0rem !important; }

.mb-0 {
  margin-bottom: 0rem !important; }

.mx-5 {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important; }

.my-5 {
  margin-top: 0.3125rem !important;
  margin-bottom: 0.3125rem !important; }

.m-5 {
  margin: 0.3125rem !important; }

.mt-5 {
  margin-top: 0.3125rem !important; }

.ml-5 {
  margin-left: 0.3125rem !important; }

.mr-5 {
  margin-right: 0.3125rem !important; }

.mb-5 {
  margin-bottom: 0.3125rem !important; }

.mx-10 {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important; }

.my-10 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important; }

.m-10 {
  margin: 0.625rem !important; }

.mt-10 {
  margin-top: 0.625rem !important; }

.ml-10 {
  margin-left: 0.625rem !important; }

.mr-10 {
  margin-right: 0.625rem !important; }

.mb-10 {
  margin-bottom: 0.625rem !important; }

.mx-15 {
  margin-left: 0.9375rem !important;
  margin-right: 0.9375rem !important; }

.my-15 {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important; }

.m-15 {
  margin: 0.9375rem !important; }

.mt-15 {
  margin-top: 0.9375rem !important; }

.ml-15 {
  margin-left: 0.9375rem !important; }

.mr-15 {
  margin-right: 0.9375rem !important; }

.mb-15 {
  margin-bottom: 0.9375rem !important; }

.mx-20 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important; }

.my-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important; }

.m-20 {
  margin: 1.25rem !important; }

.mt-20 {
  margin-top: 1.25rem !important; }

.ml-20 {
  margin-left: 1.25rem !important; }

.mr-20 {
  margin-right: 1.25rem !important; }

.mb-20 {
  margin-bottom: 1.25rem !important; }

.mx-25 {
  margin-left: 1.5625rem !important;
  margin-right: 1.5625rem !important; }

.my-25 {
  margin-top: 1.5625rem !important;
  margin-bottom: 1.5625rem !important; }

.m-25 {
  margin: 1.5625rem !important; }

.mt-25 {
  margin-top: 1.5625rem !important; }

.ml-25 {
  margin-left: 1.5625rem !important; }

.mr-25 {
  margin-right: 1.5625rem !important; }

.mb-25 {
  margin-bottom: 1.5625rem !important; }

.mx-30 {
  margin-left: 1.875rem !important;
  margin-right: 1.875rem !important; }

.my-30 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important; }

.m-30 {
  margin: 1.875rem !important; }

.mt-30 {
  margin-top: 1.875rem !important; }

.ml-30 {
  margin-left: 1.875rem !important; }

.mr-30 {
  margin-right: 1.875rem !important; }

.mb-30 {
  margin-bottom: 1.875rem !important; }

.px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important; }

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.p-0 {
  padding: 0rem !important; }

.pt-0 {
  padding-top: 0rem !important; }

.pl-0 {
  padding-left: 0rem !important; }

.pr-0 {
  padding-right: 0rem !important; }

.pb-0 {
  padding-bottom: 0rem !important; }

.px-5 {
  padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important; }

.py-5 {
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important; }

.p-5 {
  padding: 0.3125rem !important; }

.pt-5 {
  padding-top: 0.3125rem !important; }

.pl-5 {
  padding-left: 0.3125rem !important; }

.pr-5 {
  padding-right: 0.3125rem !important; }

.pb-5 {
  padding-bottom: 0.3125rem !important; }

.px-10 {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important; }

.py-10 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important; }

.p-10 {
  padding: 0.625rem !important; }

.pt-10 {
  padding-top: 0.625rem !important; }

.pl-10 {
  padding-left: 0.625rem !important; }

.pr-10 {
  padding-right: 0.625rem !important; }

.pb-10 {
  padding-bottom: 0.625rem !important; }

.px-15 {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important; }

.py-15 {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important; }

.p-15 {
  padding: 0.9375rem !important; }

.pt-15 {
  padding-top: 0.9375rem !important; }

.pl-15 {
  padding-left: 0.9375rem !important; }

.pr-15 {
  padding-right: 0.9375rem !important; }

.pb-15 {
  padding-bottom: 0.9375rem !important; }

.px-20 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important; }

.py-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important; }

.p-20 {
  padding: 1.25rem !important; }

.pt-20 {
  padding-top: 1.25rem !important; }

.pl-20 {
  padding-left: 1.25rem !important; }

.pr-20 {
  padding-right: 1.25rem !important; }

.pb-20 {
  padding-bottom: 1.25rem !important; }

.px-25 {
  padding-left: 1.5625rem !important;
  padding-right: 1.5625rem !important; }

.py-25 {
  padding-top: 1.5625rem !important;
  padding-bottom: 1.5625rem !important; }

.p-25 {
  padding: 1.5625rem !important; }

.pt-25 {
  padding-top: 1.5625rem !important; }

.pl-25 {
  padding-left: 1.5625rem !important; }

.pr-25 {
  padding-right: 1.5625rem !important; }

.pb-25 {
  padding-bottom: 1.5625rem !important; }

.px-30 {
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important; }

.py-30 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important; }

.p-30 {
  padding: 1.875rem !important; }

.pt-30 {
  padding-top: 1.875rem !important; }

.pl-30 {
  padding-left: 1.875rem !important; }

.pr-30 {
  padding-right: 1.875rem !important; }

.pb-30 {
  padding-bottom: 1.875rem !important; }

.flex-align-center {
  display: flex;
  align-items: center; }

.d-flex {
  display: flex; }

.text-center {
  text-align: center; }

.flex-align-end {
  align-items: flex-end; }

.icon-user, .icon-people, .icon-user-female,
.icon-user-follow, .icon-user-following,
.icon-user-unfollow, .icon-login, .icon-logout, .icon-emotsmile, .icon-phone, .icon-call-end, .icon-call-in, .icon-call-out, .icon-map, .icon-location-pin, .icon-direction, .icon-directions, .icon-compass, .icon-layers, .icon-menu, .icon-list, .icon-options-vertical, .icon-options, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow-up-circle, .icon-arrow-left-circle, .icon-arrow-right-circle,
.icon-arrow-down-circle, .icon-check, .icon-clock, .icon-plus, .icon-minus, .icon-close, .icon-event, .icon-exclamation, .icon-organization, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-mustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-disc, .icon-cursor, .icon-cursor-move, .icon-crop, .icon-chemistry, .icon-speedometer, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglass, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-folder-alt, .icon-folder, .icon-film, .icon-feed, .icon-drop, .icon-drawer, .icon-docs, .icon-doc, .icon-diamond, .icon-cup, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-frame, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart,
.icon-pencil, .icon-note, .icon-loop,
.icon-home, .icon-grid, .icon-graph,
.icon-microphone, .icon-music-tone-alt,
.icon-music-tone, .icon-earphones-alt, .icon-earphones, .icon-equalizer, .icon-like, .icon-dislike,
.icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward,
.icon-control-end, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-calendar, .icon-bulb, .icon-chart,
.icon-ban, .icon-bubble, .icon-camrecorder, .icon-camera, .icon-cloud-download, .icon-cloud-upload,
.icon-envelope, .icon-eye, .icon-flag, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock,
.icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip,
.icon-paper-plane, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star,
.icon-symbol-female, .icon-symbol-male, .icon-target, .icon-credit-card, .icon-paypal, .icon-social-tumblr,
.icon-social-twitter, .icon-social-facebook, .icon-social-instagram, .icon-social-linkedin, .icon-social-pinterest, .icon-social-github,
.icon-social-google, .icon-social-reddit, .icon-social-skype, .icon-social-dribbble, .icon-social-behance, .icon-social-foursqare, .icon-social-soundcloud, .icon-social-spotify, .icon-social-stumbleupon, .icon-social-youtube, .icon-social-dropbox, .icon-social-vkontakte, .icon-social-steam {
  font-family: 'simple-line-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.flex-justify-center {
  justify-content: center; }

.p-static {
  position: static; }

.p-relative {
  position: relative; }

.flex-nowrap {
  display: flex;
  flex-flow: nowrap; }

.pull-left {
  float: left !important; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: 5px; }

.collapse {
  display: none; }

.align-middle {
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-primary {
  color: #ba933e; }

.icon-arrow-right::before {
  content: "\e606"; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  font-family: "red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  background-color: #fff;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0; }

p {
  line-height: 1.45; }

ul,
ol {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 11.5px; }

li {
  text-align: -webkit-match-parent; }

img {
  max-width: 100%; }

.image-respond {
  display: block;
  max-width: 100%;
  height: auto; }

img {
  vertical-align: middle;
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

h1 {
  font-size: 2.1875rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.53125rem; }

h4 {
  font-size: 1.3125rem;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

h5 {
  font-size: 1.09375rem; }

h6 {
  font-size: 0.875rem; }

div {
  display: block; }

a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation; }

a {
  color: #1a1a1a;
  text-decoration: none;
  background-color: transparent; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: #1a1a1a; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 9px 20px;
  font-size: 16px;
  line-height: 1.45;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:hover {
    transition: all 0.25s;
    border: none;
    text-shadow: none; }

.btn:active,
button:active {
  outline: none; }

.btn-primary {
  background-color: #ba933e;
  color: #fff;
  margin-left: 10px;
  display: inline-block;
  padding: 0 8px;
  border-radius: 3px; }
  .btn-primary:hover {
    background-color: #947531;
    color: #fff;
    border-radius: 3px; }
  .btn-primary:focus {
    background-color: #947531; }

.btnmenu-mobile {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #999;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease; }

.btnproduct .icons {
  font-size: 18px; }

.btnaddtocart {
  color: #1a1a1a;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  height: 50px;
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  padding: 10px 30px; }

.btnproduct {
  color: #1a1a1a;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 14px;
  padding: 8px 15px;
  line-height: 20px;
  height: auto; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }

.btn-newletters {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 8px 35px;
  margin-left: 20px; }

.btn-one {
  display: inline-block;
  padding: 8px 30px;
  color: #ffffff;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 3px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.btn-readmore {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid #e1e1e1;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 5px;
  padding: 13px 30px;
  display: inline-block; }

.btn-slide {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  color: #222342;
  padding: 15px 25px;
  border: 2px solid #222342;
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }
  .container:before, .container:after {
    box-sizing: border-box;
    content: " ";
    display: table; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

@media (min-width: 992px) {
  .newlettets .hasbg {
    background-size: cover;
    background-attachment: fixed; } }

@media (min-width: 768px) {
  .heading-group {
    margin-bottom: 5px; } }

@media (min-width: 480px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 768px) {
  .hidden-small {
    display: none; } }

@media (min-width: 1220px) {
  .hidden-large {
    display: none; } }

@media (min-width: 992px) {
  .hidden-medium {
    display: none; } }

@media (min-width: 1440px) {
  .hidden-largest {
    display: none; } }

/* Grid for all screen
 * Ex: col-1, col-2 */
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* Grid for screen min-width: $small
 * Ex: col-small-1, col-small-2 */
@media (min-width: 768px) {
  .col-small-1 {
    width: 8.33333%; }
  .col-small-2 {
    width: 16.66667%; }
  .col-small-3 {
    width: 25%; }
  .col-small-4 {
    width: 33.33333%; }
  .col-small-5 {
    width: 41.66667%; }
  .col-small-6 {
    width: 50%; }
  .col-small-7 {
    width: 58.33333%; }
  .col-small-8 {
    width: 66.66667%; }
  .col-small-9 {
    width: 75%; }
  .col-small-10 {
    width: 83.33333%; }
  .col-small-11 {
    width: 91.66667%; }
  .col-small-12 {
    width: 100%; } }

/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */
@media (min-width: 992px) {
  .col-medium-1 {
    width: 8.33333%; }
  .col-medium-2 {
    width: 16.66667%; }
  .col-medium-3 {
    width: 25%; }
  .col-medium-4 {
    width: 33.33333%; }
  .col-medium-5 {
    width: 41.66667%; }
  .col-medium-6 {
    width: 50%; }
  .col-medium-7 {
    width: 58.33333%; }
  .col-medium-8 {
    width: 66.66667%; }
  .col-medium-9 {
    width: 75%; }
  .col-medium-10 {
    width: 83.33333%; }
  .col-medium-11 {
    width: 91.66667%; }
  .col-medium-12 {
    width: 100%; } }

/* Grid for screen min-width: $large
 * Ex: col-large-1, col-large-2 */
@media (min-width: 1220px) {
  .col-large-1 {
    width: 8.33333%; }
  .col-large-2 {
    width: 16.66667%; }
  .col-large-3 {
    width: 25%; }
  .col-large-4 {
    width: 33.33333%; }
  .col-large-5 {
    width: 41.66667%; }
  .col-large-6 {
    width: 50%; }
  .col-large-7 {
    width: 58.33333%; }
  .col-large-8 {
    width: 66.66667%; }
  .col-large-9 {
    width: 75%; }
  .col-large-10 {
    width: 83.33333%; }
  .col-large-11 {
    width: 91.66667%; }
  .col-large-12 {
    width: 100%; } }

/* Grid for screen min-width: $largest
 * Ex: col-largest-1, col-largest-2 */
@media (min-width: 1440px) {
  .col-largest-1 {
    width: 8.33333%; }
  .col-largest-2 {
    width: 16.66667%; }
  .col-largest-3 {
    width: 25%; }
  .col-largest-4 {
    width: 33.33333%; }
  .col-largest-5 {
    width: 41.66667%; }
  .col-largest-6 {
    width: 50%; }
  .col-largest-7 {
    width: 58.33333%; }
  .col-largest-8 {
    width: 66.66667%; }
  .col-largest-9 {
    width: 75%; }
  .col-largest-10 {
    width: 83.33333%; }
  .col-largest-11 {
    width: 91.66667%; }
  .col-largest-12 {
    width: 100%; } }

/* Grid for screen min-width: $xs
 * Ex: col-xs-1, col-xs-2 */
@media (min-width: 480px) {
  .col-xs-1 {
    width: 8.33333%; }
  .col-xs-2 {
    width: 16.66667%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33333%; }
  .col-xs-5 {
    width: 41.66667%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.33333%; }
  .col-xs-8 {
    width: 66.66667%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33333%; }
  .col-xs-11 {
    width: 91.66667%; }
  .col-xs-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .slide-show {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; } }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.header-top {
  color: #666;
  background-color: #f5f5f5;
  padding: 10px 0;
  font-size: 0.875rem; }

.row {
  display: flex;
  align-content: space-between; }

.header-middle {
  background-color: #fff;
  z-index: 11;
  padding: 20px 0; }

.header-menu {
  position: relative; }

.socials a:hover {
  color: #ba933e; }

.socials a {
  display: inline-block;
  color: #111;
  margin-right: 25px;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s; }

.socials a:active,
button:active,
.btn:active {
  outline: none; }

.header-bar-right {
  justify-content: flex-end; }

.header-content {
  position: relative; }

.headerlogo {
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: middle; }

img {
  max-width: 100%; }

.logolink {
  display: inline-block;
  max-width: 100%;
  font-size: 22px;
  vertical-align: middle; }

.text-hidden {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.mega-menu .menu-container {
  position: static; }

.nav {
  margin: 0;
  padding: 0;
  vertical-align: 0; }
  .nav::before, .nav::after {
    content: " ";
    display: table; }

.mega-menu .nav > li {
  padding: 0;
  display: inline-block; }

.mega-menu .ul {
  list-style: none;
  padding-left: 0; }

.nav::before,
nav::after {
  content: " ";
  display: table; }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.nav > li {
  position: relative;
  display: block; }

.mega-menu .menu-dropdown {
  position: absolute;
  display: block;
  top: 150%;
  left: 0px;
  margin: 0px;
  padding: 15px 25px;
  min-width: 220px;
  z-index: 900;
  visibility: hidden;
  text-align: left;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.12); }

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0px; }

.mega-menu .nav > li:focus a,
.mega-menu .nav > li:focus a:hover,
.mega-menu .nav > li:focus a:focus,
.mega-menu .nav > li:hover a,
.mega-menu .nav > li:hover a:hover,
.mega-menu .nav > li:hover a:focus,
.mega-menu .nav > li.active > a,
.mega-menu .nav > li.active > a:hover,
.mega-menu .nav > li.active > a:focus {
  text-decoration: none;
  color: #ba933e; }

.mega-menu .nav > li > a > {
  padding: 15px 20px;
  color: #1a1a1a;
  background-color: transparent;
  font-family: red Hat Display;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  font-weight: 400;
  transition: all 0.35s ease; }

li .hasmenudropdown > a > span::after {
  content: "\f107";
  display: inline-block;
  font-size: 0.875rem;
  margin-left: 5px;
  height: 14px;
  position: relative; }

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px; }

ul {
  list-style-type: disc; }

:focus {
  outline: -webkit-focus-ring-color auto 1px; }

.mega-menu .menu-dropdown li {
  position: relative; }

.mega-menus li {
  display: list-item;
  text-align: -webkit-match-parent; }

.header-middle-right {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.hometop-links {
  padding-right: 25px;
  border-right: 1px solid #1a1a1a;
  line-height: 17px; }

.hometop-links > a {
  line-height: 10px; }

.hometop-links ul {
  margin: 0 0 0 10px; }

.hometop-links li:last-child {
  position: relative;
  padding-left: 10px; }

.hometop-links li {
  padding: 0; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

.hometop-links li:last-child:before {
  content: "/";
  display: inline-block;
  position: absolute;
  top: 1px;
  line-height: 12px;
  left: 2px;
  font-size: 10px;
  font-weight: 600; }

.hometop-links li a {
  display: block;
  line-height: 14px;
  color: #1a1a1a;
  text-decoration: none;
  background-color: transparent; }

.home-searchicon {
  font-size: 20px;
  line-height: 18px;
  margin-left: 25px;
  position: relative; }

.icon-magnifier::before {
  content: "\e090"; }

.home-carttop {
  margin-left: 25px;
  padding: 15px 0;
  position: relative; }

#home-search-top {
  right: 15px;
  position: absolute;
  top: 0%;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #fff;
  width: 400px;
  padding: 0 40px 0 20px;
  border-radius: 3px;
  visibility: hidden;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#home-search-top .btn-search {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #1a1a1a;
  background: transparent;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: 18px; }

#home-search-top .home-search {
  border: 0px;
  color: #1a1a1a;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  font-size: 0.875rem; }

.form-control {
  display: block;
  width: 100%;
  height: 43px;
  padding: 9px 20px;
  font-size: 16px;
  line-height: 1.45;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

#home-search-top .btn-search .btn-search-text {
  display: none; }

.mega-menu .active,
.mega-menu li:hover {
  color: #ba933e; }

.mega-menu .menu-dropdown {
  display: block;
  position: absolute;
  top: 150%;
  left: 0px;
  margin: 0px;
  padding: 15px 25px;
  min-width: 220px;
  z-index: 900;
  visibility: hidden;
  text-align: left;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.12); }

.footer-home {
  color: #000;
  background-color: #1a1a1a; }

a {
  text-decoration: none; }

.footer-middle .inner {
  padding: 70px 0 40px; }

.info-img {
  margin-bottom: 40px;
  margin-top: 10px; }

.footer-socials a:hover {
  color: #ba933e; }

.footer-socials a {
  display: inline-block;
  color: #fff;
  margin-right: 25px;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s; }

.footer-socials a:active,
button:active,
.btn:active {
  outline: none; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto; }

.fa-facebook-f::before,
.fa-facebook::before {
  content: "\f09a"; }

.fa-instagram::before {
  content: "\f16d"; }

.fa-twitter::before {
  content: "\f099"; }

.footer-title {
  color: #fff;
  font-size: 1.3125rem;
  margin: 0 0 10px;
  padding: 10px 0px;
  font-weight: 700;
  font-family: red Hat Display; }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 11.5px;
  margin-bottom: 11.5px; }

.list-unstyles {
  padding-left: 0px;
  list-style: none; }

.footer-links {
  margin: 0px;
  padding: 0px;
  line-height: 18px; }

li {
  display: block;
  padding: 5px 0; }

.footer-links a {
  color: #999;
  font-size: 0.875rem;
  display: block;
  font-weight: 400;
  transition: all 0.25s ease-in-out 0s; }

p {
  color: #999;
  font-size: 0.875rem;
  display: block;
  font-weight: 400;
  transition: all 0.25s ease-in-out 0s; }

.icon-earphones-alt:before {
  content: "\e03c"; }

.footer-center {
  padding: 70px 0px 40px; }

.footer-about .icons {
  font-size: 16px;
  margin-right: 15px;
  display: block;
  margin-top: 5px;
  padding: 10px;
  color: #fff; }

.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

#footer-home .copyright-inner {
  padding: 30px; }

.clearfix::before,
::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

.copyright-content {
  margin-top: 5px; }

.copyright-content a {
  color: #fff; }

.copyright-content b, .copyright-content p {
  font-weight: bold; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

#footer-home {
  color: #999;
  background-color: #1a1a1a; }

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.row-flexmargin {
  margin-left: -15px;
  margin-right: -15px; }

.btnmenu-mobile .icon-menu {
  width: 20px;
  height: 2px;
  background-color: #1a1a1a;
  display: block;
  margin: 2px 0;
  transition: all 0.3s ease-in-out; }

.search-icon {
  font-size: 20px;
  line-height: 18px;
  margin-left: 25px;
  position: relative; }

.section-product {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px 0; }

.home-title {
  padding: 0px 0 10px;
  margin: 0;
  position: relative;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #1a1a1a;
  font-family: red Hat Display; }

.heading-group {
  display: flex;
  flex-direction: column;
  text-align: center; }

.subtitle {
  color: #444;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0 auto 10px;
  max-width: 600px; }

.product-card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px; }

.product-card .strantation-card {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  opacity: 0; }

.product-card:hover .strantation-card {
  display: inline;
  transition: 0.4s ease;
  opacity: 1; }

.product-info .product-content {
  margin-top: 20px;
  position: relative; }

.product-card .product-cart {
  padding-top: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  display: none; }

.product-card:hover .product-cart {
  display: inline;
  transition: 0.4s ease;
  opacity: 1; }

.product-content {
  margin-top: 20px !important; }

.product-name {
  margin: 0 0 10px;
  padding: 0; }

a {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #444;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.priceproduct {
  font-size: 0.875rem;
  color: #666;
  line-height: 20px; }

.product-card .productswitch {
  float: right; }

.product-card .priceproduct {
  float: left; }

.itemswitch {
  z-index: 10;
  display: block;
  margin: 5px 0 0;
  padding: 0;
  list-style: none; }

.productswitch li {
  float: left;
  padding: 3px; }

li {
  display: list-item; }

.hidden {
  display: none !important; }

.productlabel {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial; }

.label-sale {
  font-size: 14px;
  color: #fff;
  padding: 3px 10px;
  background-color: #ba933e;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
  border-radius: 3px; }

.price-compare {
  color: #999999;
  margin-right: 5px;
  font-weight: 400;
  position: relative;
  padding: 0 4px; }
  .price-compare::before {
    content: "";
    width: 100%;
    left: 0;
    bottom: 8px;
    height: 1px;
    background: #999999;
    position: absolute; }

.price-sale {
  color: #ba933e; }

.effect-four a:hover, .effect-four a::before {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  bottom: 50%;
  top: 50%; }

.effect-four a {
  display: block;
  overflow: hidden;
  position: relative; }

.effect-four a::before, .effect-four a::after {
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 900ms ease 0s; }

.newletters .hasbg {
  background-repeat: no-repeat; }

.newletters .hasbg .newletters-inner {
  margin-top: 80px;
  margin-bottom: 80px; }

.newletters .newletters-inner {
  max-width: 930px;
  background: #fff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  padding: 80px 15px; }

.wrap {
  max-width: 690px;
  width: 100%;
  margin: 0 auto; }

.newletters .form-control {
  border-width: 2px;
  border-radius: 5px !important; }

form {
  display: block;
  margin-top: 0em; }

.form-group {
  margin-bottom: 15px; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0; }

.form-control {
  display: block;
  width: 100%;
  height: 43px;
  padding: 9px 20px;
  font-size: 16px;
  line-height: 1.45;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.section-policys {
  background-color: #f8f8f8;
  padding: 50px 0; }

.mb-blockgutter {
  margin-bottom: 30px; }

.policys-inner {
  padding-top: 30px; }

.mb-itemgutter {
  margin-bottom: 30px; }

.section-policys .policys-inner .mb-itemgutter:not(:last-child):before {
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  top: 5%;
  background: #e5e5e5;
  display: block;
  right: 0; }

.box-service-img {
  margin-bottom: 20px; }

.product-card-image .product-card-img {
  position: absolute;
  top: 0;
  left: 450%;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.box-service-title {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 12px; }

.box-service-decs {
  font-size: 16px;
  line-height: 18px; }

.section-policys a {
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
  display: block; }

.section-blog {
  background-color: rgba(0, 0, 0, 0);
  padding: 50px 0 20px; }

.mb-gutter {
  margin-bottom: 60px; }

.blog-list {
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s;
  width: 1410px; }

.blog-item {
  width: 440px;
  margin-right: 30px; }

.blog-content .blog-title a {
  display: inline-block;
  background-color: #ba933e;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700; }

.blog-post-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 10px 0 20px; }

.blog-content .home-title a {
  transition: all 0.1s ease-in-out 0s; }

a {
  color: #1a1a1a;
  background-color: transparent;
  text-decoration: none; }

.blog-card-img {
  top: 0;
  left: 450%;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.blog-title {
  padding-top: 30px; }

.blog-title .article-meta {
  padding: 0;
  margin-top: 15px;
  font-size: 14px;
  color: #666; }

.article-meta {
  padding: 0;
  line-height: 20px; }

.article-meta .article-author {
  color: #1a1a1a;
  font-weight: bold;
  margin-right: 5px; }

.article-meta > a:last-child,
.article-meta > span:last-child {
  margin-right: 0; }

.article-meta > a,
.article-meta > span {
  position: relative;
  margin-right: 8px;
  display: inline-block;
  font-size: 0.875rem; }

.blog-post-short-desc {
  margin-bottom: 25px; }

.blog-post-short-desc > p {
  color: #1a1a1a; }

.section-show .slide-show {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; }

.caption-content {
  display: table-cell;
  padding: 50px 0; }

.caption-inner {
  font-size: 16px;
  display: inline-block; }

.side-heading {
  font-size: 22px;
  line-height: 36px;
  margin: 0 0 2%;
  padding: 0;
  font-weight: 400; }

.side-heading-small {
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 5px;
  font-weight: 700;
  padding: 0; }

.home-link {
  display: block; }

.header-card-image {
  position: relative;
  overflow: hidden; }

.header-card-image .header-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.slide-show .side-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; }

.no-js .placeholder-background--animation {
  display: none; }

.placeholder-background--animation {
  background-color: #f5f5f5;
  animation: placeholder-background-loading 1.5s infinite linear; }

.section-sideshow .home-image {
  opacity: 1; }

.home-image {
  transition: opacity 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  z-index: 1; }
