* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
body {
  font-family: $font-body;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  background-color: map-get($colors, white);
  font-weight: map-get($font-weight, normal);
  overflow-x: hidden;
  margin: 0;
}
p {
  line-height: 1.45;
}
ul,
ol {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 11.5px;
}
li {
  text-align: -webkit-match-parent;
}

img {
  max-width: 100%;
}

.image-respond {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get($font-weight, medium);
}
h1 {
  font-size: map-get($h-font-size, h1);
}
h2 {
  font-size: map-get($h-font-size, h2);
}
h3 {
  font-size: map-get($h-font-size, h3);
}
h4 {
  font-size: map-get($h-font-size, h4);
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h5 {
  font-size: map-get($h-font-size, h5);
}
h6 {
  font-size: map-get($h-font-size, h6);
}

div {
  display: block;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

a {
  color: map-get($colors, bg-footer);
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: map-get($font-weight, bold);
  line-height: 1.1;
  color: map-get($colors, bg-footer);
}
