%clr {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.flex-align-center {
  align-content: center;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.flex-align-end {
  align-items: flex-end;
}
