@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-Black.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-Bold.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-Italic.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-Medium.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RedHat Display';
    src: url('/Practice2/font/RedHatDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
}
