// === Font === //
$font-body:'red Hat Display',Arial, Helvetica, sans-serif;

// === Font Weight === //
$font-weight: (
  normal: 400,
  medium: 600,
  bold: 700
);

// == Breakpoints === //
$breakpoints: (
  xs: 480px,
  small: 768px,
  medium: 992px,
  large: 1220px,
  largest: 1440px
);

// === Colors === //
$colors: (
  primary: #333,
  white: #fff,
  black: #111,
  yellow:#ba933e,
  header:#666,
  bg-focus:#947531,
  top-bar:#f5f5f5,
  black-footer:#000,
  bg-footer:#1a1a1a,
  links: #999
);

// === z-index === //
$zindexs: (
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070
);

//=== container ===//
$container-sm: 768px;
$container-md: 992px;
$container-lg: 1220px;

// === Typography === //
$font-size-base: 0.875rem !default; // 14px
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$h-font-size: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base
);
